<div class="pretty p-image p-toggle p-plain" (click)="onChangeCheckbox($event)">
    <input type="checkbox" class="custom-checkbox" [checked]="checked" />
    <div class="state p-on">
      <label></label>
      <!-- <img class="svg" src="./assets/icons/checkbox-checked.svg" /> -->
      <div class="checkbox-icon icon-checkbox-checked"></div>
    </div>
    <div class="state p-off">
      <label></label>
      <!-- <img class="svg" src="./assets/icons/checkbox-blank.svg" /> -->
      <div class="checkbox-icon icon-checkbox-blank"></div>
    </div>
  </div>
  